## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [1]:
import numpy as np
from scipy import stats
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

np.random.normal(loc=0.0, scale=1.0, size=None)  #you need to modify this code.

loc will be equal to mean, scale will be equal to std deviation, size will be equal to sample size.

In [3]:
samples = np.random.normal(loc=100, scale=15, size=1000)
samples

array([ 90.17362021,  75.10471693,  86.75155182,  85.57042625,
        98.85448313,  88.28387933,  95.73368611,  93.09195727,
        96.88827343, 107.48963759,  87.80269371, 108.53053889,
       110.54741472,  99.68124815, 125.48845353, 108.18287556,
       103.31472594,  69.75778398,  99.80830662, 118.91097302,
        94.80693326, 105.30897739,  91.69679543,  99.45407196,
       105.08405399, 101.35398175,  99.49033916, 121.94459116,
        98.67929174,  84.03063677,  59.54282549, 129.96593839,
       110.97191579,  86.3635765 ,  98.61800715,  76.98270924,
        80.97398195, 112.09869228, 130.11901651,  92.29483247,
       108.76562146,  96.22420526, 104.13834594, 117.59849752,
        98.91615612, 103.989267  , 111.53588602, 103.11884157,
       111.46292466,  97.23789248, 102.5928086 , 100.96581819,
       102.37732449,  93.05959285,  78.71342548,  77.24637432,
        92.79086795,  94.2299062 , 125.35326013, 107.50696757,
        96.67316202,  93.82113443,  89.19145303,  91.70641269,
        70.43480771, 104.0497665 ,  93.50853991,  98.94114105,
       132.53547319,  99.14125773,  87.95574902, 106.52793292,
        95.51512065, 105.64120652,  69.89731386, 109.78624889,
       125.95710179,  95.58437056,  96.80202566,  89.55490659,
       102.63782136,  85.38650861,  87.84075996, 102.61591288,
       103.03588107, 108.96156213, 127.97885542,  99.43343007,
        90.42025874,  84.47324819,  89.26341506, 111.52528808,
       110.45073756,  88.76782122, 119.5768258 , 107.04673892,
        87.53560329, 105.17964504,  75.53189522, 112.99008816,
       110.05369673, 142.76127482, 116.19521943, 111.92238404,
       116.7982212 , 135.83561392, 102.80410989,  86.16730556,
       130.84318922, 104.90094666, 107.25312273, 128.7954793 ,
       133.93029061,  81.5208561 ,  98.8563181 ,  69.00561954,
        83.03578392, 104.64862785,  97.96266934,  98.01643625,
       119.08892338, 133.82077428, 110.16975243, 114.46384277,
        90.74645711,  97.16455841, 113.56104846,  97.3262796 ,
        90.49503452, 109.8821195 ,  82.99903322, 100.18774788,
        71.86916332, 116.21111017, 109.91390577,  99.85119621,
        96.039105  ,  46.91442191, 108.23837169,  98.50899651,
        89.04214915, 129.29011017, 106.60599769, 120.24109086,
        88.14045035,  88.6102957 ,  82.04324428,  63.73724735,
        95.04852497,  88.88626338,  91.93651345, 114.7791858 ,
        83.97227065,  99.81505415, 103.16602518,  99.1582157 ,
       112.93814268,  95.10825187,  97.77762012, 115.83636361,
        92.30352709,  88.55176145,  90.90354507, 108.03431531,
        93.56556739,  97.43835738, 131.00537463,  99.91269952,
        81.70853629,  72.65620999, 119.17253998, 122.1541513 ,
        95.30098583, 134.53491153, 100.61584161,  74.91349281,
       126.10613492, 100.41226285,  86.13127214, 106.14905599,
        95.48308609, 102.03690641, 119.21578106,  95.35457596,
        88.16593574, 109.22616889,  83.17882384,  95.78264837,
       108.92410849, 107.512706  , 108.56654772,  95.63665445,
       105.85358224, 108.2759998 ,  96.59296037,  76.30543609,
        93.41499232,  94.35621621, 102.45974789, 102.73791002,
       101.5831193 , 119.12245341, 124.77461343, 102.29603318,
        91.4443857 ,  84.77950434, 104.82422026,  96.7115742 ,
        80.62659705,  92.47470814, 120.95054884, 107.34057044,
        95.30652949, 104.82454111,  95.19384692,  93.25211628,
       115.00883329, 117.0827583 ,  52.20753635,  97.13959789,
        93.25131492,  88.13302402, 107.53321545,  93.99931398,
        87.13145843,  80.52945998, 123.11859386,  84.09922573,
        88.81787018,  89.82555223, 107.98674244,  88.06141906,
       114.69700554, 112.62840914, 115.69941383, 103.4255438 ,
       105.40298777,  78.49994987,  85.71383405, 104.94831868,
       113.90875217,  92.55265884, 117.33320485,  90.66319727,
       111.37695731,  93.03543279,  78.76165065,  83.56601214,
       107.22390975, 119.07230882,  73.5828135 , 113.52207735,
       101.98136781, 106.77601611,  97.28735315, 116.63307554,
        95.3240454 , 104.5071613 ,  88.38562862, 100.83237588,
        85.46604756, 113.72676657,  99.48082138, 108.73294937,
       106.75727283, 123.06066166, 114.25305435,  97.08147295,
        90.057596  , 120.10314817, 126.2220906 ,  95.23729056,
        77.4811057 ,  96.9555853 , 108.77065022, 110.20179971,
       118.19261524, 102.84737207,  92.34763194, 115.13443944,
       107.00214083, 112.79607948,  89.41447493, 101.7565015 ,
        97.66364716, 104.97538288, 127.26110344,  93.68759633,
        75.87904461, 101.26736762, 104.95363723,  95.68305066,
        92.83407194,  97.17853433,  97.25515037,  87.27095489,
        89.26599971, 103.5428487 ,  99.31620081, 125.24178262,
        95.2884794 ,  96.99577462, 113.63198661, 112.4750649 ,
        86.99215481,  97.80056002,  89.33360012, 122.43699289,
        92.79009814, 114.32046052,  79.17232177,  80.94837984,
       110.0896565 ,  76.98686341,  64.47698227,  97.71217212,
       116.79517968, 108.68395105,  88.69351319,  98.83499433,
       120.11000054,  83.13419726,  87.22063936, 105.93925818,
        77.43463281, 100.82079398,  93.48809648,  89.74551478,
       116.69891876,  72.34396226,  91.1634588 , 112.83922497,
       112.98038382, 112.39278555,  61.54869488,  81.83332632,
       136.75861236, 104.06056363,  95.41650863, 108.73442643,
       108.59263852, 113.35557553, 111.31984772, 111.63487139,
        97.62164312,  72.17423623, 111.62326911, 128.66206121,
       103.99014838, 101.50854963,  85.40280304,  82.42124905,
        91.63824154, 104.04081193,  97.65856993,  88.22324101,
        88.69896983,  94.28596267, 106.67160532, 100.40877511,
        72.76730988, 112.12362272, 124.630305  ,  99.29124279,
        86.49152282, 108.15091042, 129.46550515, 114.35190531,
        92.41504381,  89.16696269, 111.17941091,  81.1227613 ,
        95.32988327,  91.16493213,  83.13018266, 111.57336819,
       106.61471197,  67.76999223,  76.61414156,  84.02632824,
       104.38142145, 106.40362859, 104.12532334, 116.383528  ,
       116.23945956,  72.60363963,  70.54495476, 109.64291215,
       102.03132027,  90.09405511, 112.41445149, 109.54683055,
       117.51488878, 120.28401153, 122.41095184,  78.22735349,
        94.01037428,  82.53561376,  97.5867522 ,  99.89788453,
        90.80578188, 116.51573998, 123.71916988,  82.88218996,
        93.66430923,  81.57280632,  93.30030215,  94.54051453,
        97.3576081 ,  77.55470117, 115.05807683, 103.47442965,
       104.59375688, 106.05796807, 147.72298544,  98.03477298,
        81.1348763 , 100.82869325,  92.15797186, 109.40897264,
       112.39792895, 106.79970697, 125.1641976 ,  90.88919226,
        93.13820775, 125.37668784,  81.17735452, 127.9897594 ,
       106.16955756,  98.30371689, 113.86598402,  90.4557869 ,
       118.97029329, 117.54985164,  92.99557422, 106.45906359,
       101.0632403 , 106.27805391,  97.75262752, 113.32396413,
       112.14300975, 106.19189954, 112.71238267,  96.25520358,
        72.73413492, 115.09762923,  95.48977696,  92.35572749,
       118.30319729,  67.69621148, 109.11282816,  90.32479789,
        94.52801728, 112.62567712,  95.90833654, 103.8415399 ,
        95.11737166,  98.58906701, 104.13368248, 108.67627864,
        98.23446809,  90.55651307,  83.51333266, 115.30805978,
        77.26319733,  94.36170688,  99.10717282, 103.36600079,
       111.47160816, 115.59641893, 118.21579423,  67.96751368,
       101.19818321, 101.97310315,  83.95071047,  95.63670198,
        99.96838866, 108.01379268,  98.75180895, 117.99930716,
       120.14512011, 107.08398243, 115.59107278,  95.82086331,
        86.17468204,  98.43183268,  91.90567774,  74.37160527,
        86.95791147,  82.25802753, 109.08537238, 114.60210759,
        84.0684782 , 114.1904659 , 117.32669064,  84.58128936,
       102.29644026, 117.64327651, 101.39702731, 101.17771735,
       118.44724917, 104.32137504, 105.74933028,  87.90333272,
       108.00795825, 111.64351872, 108.58652816, 121.56030299,
        91.54360841, 103.81676452,  85.63235892,  94.25477972,
        99.25702709, 116.61998678,  74.1263372 ,  80.59082167,
       101.18345363,  73.19636356, 117.13948336, 106.64704839,
        90.549579  ,  83.16441296,  81.30394635, 104.25031291,
        85.98619251, 110.34156912, 110.16884423,  62.63087981,
        88.87522496,  95.53090846,  83.45080649,  89.240438  ,
       148.16516763,  90.94329232, 105.60804412, 110.53239312,
       132.01283834,  82.63782606, 117.73561247, 100.7852846 ,
        83.09938774, 101.08048797, 101.22630095,  90.92690026,
        78.16796605,  97.63334369, 119.05370247,  88.42546086,
        73.6338696 ,  87.12611282, 100.30744103, 125.36874524,
        83.39469969, 114.32405866, 115.8747036 ,  92.97435916,
       117.11594134, 125.67524526,  77.28743086,  94.10162578,
       113.07463248, 115.67967262, 117.2273843 , 103.19608878,
        98.74281512, 109.3722298 , 113.27907764,  90.48797644,
        90.131786  ,  97.0710491 ,  75.54507101,  91.46979216,
        84.38183227, 107.06229285, 106.77847351, 116.56979735,
        70.15364419, 105.36373223, 103.58233739,  89.91777082,
       107.03113041,  98.19420113,  83.71373384, 109.03842684,
       115.62686569, 101.52545058,  95.05231822, 115.15547825,
       113.27102009, 108.70001314,  94.32824919,  95.94757229,
       123.48382559,  82.58349918, 100.86803008, 100.39540834,
        83.66119481, 111.58626408, 107.23415414,  98.50479471,
        94.83384936, 119.49512362, 111.25687705, 104.70289493,
       110.325397  ,  93.97716728,  95.79006235, 103.44648926,
        89.19006433,  93.18689753,  97.44577203,  72.31488331,
       103.21539379,  65.90551991,  87.52969699,  96.38075848,
       115.49337496, 102.04828515, 103.80952235, 111.4609848 ,
        89.77087904,  95.62967462, 100.64910061, 112.0322365 ,
        88.02573832,  92.3514122 ,  99.63120102,  74.01818618,
       112.07357532, 125.13252317, 113.82181544, 115.2627785 ,
       107.74453294,  90.11953712,  88.75211708,  93.34813625,
       111.19897178,  88.29728971, 110.33802777, 105.9700258 ,
        76.65847482,  85.27964409,  85.43021445, 111.57218545,
       118.87915372,  77.60362023, 115.83044425,  89.76970739,
        77.42831593,  57.87001151,  81.57332563,  90.41719387,
        91.06435904,  88.18340191, 103.54129412, 120.09417119,
       113.31915305,  96.73681448,  87.42348816, 115.04844791,
        77.93204855, 103.83410692,  86.44630314,  87.71121367,
       122.89807827, 119.89957552, 126.8568821 , 115.62947569,
       108.93436293,  93.99760444, 104.11255885,  98.96044209,
        89.51622174, 108.04365866,  97.41170035,  96.77233633,
        79.60205097, 117.61706672, 118.80819436,  89.07386979,
        94.46610437,  82.46988291,  99.34204222,  90.51001549,
       110.55217787,  92.31293095,  70.04790291,  87.04522917,
        94.73862041, 107.4403854 , 103.34650606,  81.90965159,
       115.66375278,  99.30608823,  93.34130803, 103.38051696,
       117.40290368, 105.40105717,  74.12387514,  95.4961575 ,
       104.70477913,  99.4333449 ,  79.51801313, 127.61591515,
        94.67326547,  89.23921433, 114.48683652, 105.207783  ,
       129.22811075, 112.51401534,  78.92224665, 113.89984608,
       101.23733255,  91.78240597, 106.92844841,  68.14328469,
       113.81833727, 106.78775941,  88.09534606,  91.0580456 ,
       110.09469543,  91.70555521,  89.73602852, 104.02135402,
        97.0741531 , 138.10420963,  84.22284926, 104.29529906,
        99.56795435,  96.24248461, 116.66973486,  88.73932637,
        83.19679029, 116.20378516, 104.95062463,  97.66223204,
       135.82868851,  78.17117078, 108.35068361, 113.31500674,
        94.41160662, 102.48744987, 127.14614136, 107.31254661,
       116.68808934,  68.85811501,  68.62074788,  96.5190739 ,
       130.74341824, 112.84221855,  97.75080494,  99.25503264,
        98.75112401,  76.94785805,  81.27940838,  92.76816722,
        91.82077168,  90.31088778, 114.11091848, 106.97442032,
        98.32366031, 116.97785238, 128.66184333, 113.47381427,
       105.79844992,  59.50476042,  91.55420465,  97.29406772,
        82.81232796, 107.13478627,  87.45867047,  71.70366059,
        75.77942417,  93.52471244, 114.68983607,  97.62493354,
       118.86786942, 103.28361281, 116.02097607, 109.22839976,
        95.52916536, 117.76639137,  86.88178184, 111.29512934,
       104.48823617, 131.37869231, 101.81534559,  90.25189148,
       128.68813018,  78.227949  , 101.31268401,  83.13857892,
        89.64725017, 116.10185416, 112.45663959, 108.20888953,
        69.70893896, 108.44690845, 113.60447182,  95.58192348,
        99.25399983, 108.03726899, 102.34999044, 128.18938981,
       109.46797981, 106.05563005,  92.61357636,  75.02712564,
        94.7455122 , 107.4604199 , 112.1672061 , 108.5997726 ,
        82.11631628,  93.3757601 ,  84.28164249,  78.16052848,
       109.43644025,  95.21208917,  87.1121782 ,  91.42914731,
       117.49943954, 142.92740958,  99.29054222,  73.17255313,
        83.35217247, 113.82285958,  80.38474957, 113.29595846,
        95.56108844, 104.4199321 , 117.61997973, 114.25626826,
       100.58576353,  72.35361288,  96.74768421,  85.72109122,
       120.07328599, 116.36202433,  80.80974527, 110.61656736,
        90.33576965,  91.23228711, 100.42215317,  83.57873785,
       109.32958643,  96.04222945, 122.05923473, 103.49941632,
        99.28136686,  96.7806939 ,  94.60704223,  99.94099424,
       100.36407647,  73.15660634,  85.77302192,  99.62285703,
       114.18358364, 107.01187176, 101.75763112, 105.00694919,
       106.95222991, 115.9192374 ,  97.33852323,  96.84040251,
       109.68618445, 102.81207872,  91.15787448,  98.51396986,
       105.57870811,  98.34509395, 100.04211659, 107.95159184,
        88.44476404,  95.32630803, 110.48596987,  82.21300592,
       123.27920955,  75.18683307,  75.87326005,  81.29445347,
       104.0564754 , 102.25353835, 107.02144269,  89.67269922,
       110.21413587,  86.87009381,  85.28021535, 104.17078936,
        96.44419104,  83.89759497, 108.49504887, 113.27721716,
        72.45789647, 102.62511765,  89.28183061, 102.59495261,
       117.30555082,  92.6357146 ,  87.95256898, 110.99834114,
       113.73337215,  76.32882655, 108.04997112, 111.98151731,
        73.83398572, 113.67693823, 116.01839078, 110.2306869 ,
       103.71526928,  83.43028016,  94.9341909 , 125.23515624,
       142.61817129, 130.94674402, 118.80633307, 108.59029952,
        73.14454011,  79.59881775, 104.65232427, 100.62702304,
        82.1332502 ,  81.4195491 ,  85.0593767 , 102.8075882 ,
        84.07693691,  99.17566091,  93.72281024,  91.58038317,
        95.45042924,  96.43351164,  97.95844973, 110.12486962,
       115.36499278, 113.88739374, 113.55282455, 104.95815739,
       101.24755771, 101.28954553,  92.08260419, 107.4049153 ,
       109.38537711, 103.0165262 ,  77.73715802,  95.67418111,
        77.32168938, 115.36599794, 125.20904563, 113.10283728,
        75.83647599, 117.71867243, 106.90121426, 120.02822176,
        91.8834998 , 111.06284765,  94.45726498,  98.38501718,
       104.45013817,  83.64616022,  63.04972925, 109.33949352,
       120.89897176, 115.67534637,  97.00228673,  97.78317891,
        93.14556655,  93.9464338 ,  67.22528555,  97.32585248,
        88.95464698,  96.3796782 ,  97.14274012,  81.7194337 ,
       110.02993102, 110.61709884, 104.10092121,  98.51018914,
        99.33113029, 123.67002624,  85.44638706,  88.44025594,
       100.11959196, 100.59205145, 122.01236377,  76.78210363,
       108.13393999, 105.39057346,  78.45729405,  83.80086798,
       102.60535783, 124.8188649 ,  88.50049468, 110.65829966,
        82.41011354,  79.24765086,  87.52970762, 110.7240862 ,
       114.52238277,  85.40253669,  93.17535073, 103.9047683 ])

Compute the **mean**, **median**, and **mode**

In [4]:
print("mean = ", np.mean(samples))
print("median = ", np.median(samples))
print("mode = ", stats.mode(samples))

mean =  99.92090867516313
median =  99.65622458513863
mode =  ModeResult(mode=array([46.91442191]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [5]:
min = print("min = ", np.min(samples))
max = print("max = ", np.max(samples))
q1 =  print("Q1 = ", np.percentile(samples,25))
q3 =  print("Q3 = ", np.percentile(samples,75))
iqr = print("IQR:", (stats.iqr(samples)))

min =  46.91442190544459
max =  148.16516763161914
Q1 =  89.89471617020739
Q3 =  110.32855469344577
IQR: 20.43383852323838

Compute the **variance** and **standard deviation**

In [6]:
variance = print("Variance: ", (np.var(samples)))
std_dev =  print("Std deviation: ", (np.std(samples)))

Variance:  221.02912973617288
Std deviation:  14.867048454087074

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [9]:
skewness = print("skewness: ", skew(samples))
kurtosis = print("kurtosis: ", kurtosis(samples))

skewness:  -0.047478635653329285
kurtosis:  0.07197750609153575

In [8]:
from scipy.stats import kurtosis
from scipy.stats import skew

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [10]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [13]:
y = np.array(np.random.randint(10,20,10))
print("y :", y)

y : [18 13 12 17 16 15 13 15 16 13]

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [14]:
r =  np.corrcoef(x, y)
print("correlation: ", np.corrcoef(x, y))

correlation:  [[ 1.         -0.20297414]
 [-0.20297414  1.        ]]

## Pandas Correlation Calculation

Run the code below

In [19]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
x

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [16]:
r = stats.pearsonr(x, y)
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [20]:
rho = stats.spearmanr(x, y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [21]:
import  seaborn as sns

Load "tips" dataset from Seaborn

In [24]:
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [25]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns (plus heatmap)

In [26]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000